project:
  output-dir: docs
  type: website 
  resources: 
  - lib/fonts
  - lib/theme
  render:
  - "lectures/*/24WT/*"
  - "lectures/*/25ST/*"  
  - "lectures/*/25WT/*"
  - "lectures/*/26ST/*"
  - "presentations/*"
  - "about.qmd"
  - "index.qmd"
  - "imprint.qmd"
  preview:
    port: 9992

author: "Andy Weeger"
date-format: long
date-modified: last-modified

csl: lib/csl/apa.csl

website:
  title: "awe.lectures"
  open-graph: true
  page-navigation: false
  search: false
  bread-crumbs: false
  site-url: https://awe-hnu.github.io
  repo-url: https://github.com/awe-hnu/awe-hnu.github.io 
  favicon: assets/favicon.png
  
  cookie-consent:
    type: express
    style: interstitial
    palette: dark  
    
  page-footer:
    background: "#fff"
    left: 
      - text: "Copyright 2025, Andy Weeger"
    right: 
      - text: Start
        href: index.qmd
      - text: About
        href: about.qmd
      - text: HNU
        url:  https://www.hnu.de     
        target: _blank
      - text: "Imprint"
        href: imprint.qmd

  navbar:
    title: awe — Lecture Notes
    pinned: true
    collapse: false
    right:
      - text: Start
        url:  index.qmd

  sidebar:

    - id: default
      collapse-level: 2
      title: "awe"
      contents:
      - text: Start
        href: index.qmd
      - text: About me
        href: about.qmd
      - text: Visit HNU
        url:  https://www.hnu.de     
        target: _blank
  
    #Bachelor

    - id: ima_itse
      collapse-level: 2
      title: "IT as a Service Enabler"
      contents:
      - lectures/ITSE/24ST/admin/index.qmd      
      - lectures/ITSE/24ST/topics/index.qmd      
      
    - id: dem1_de1
      collapse-level: 2
      title: "Digital Enterprise 1"
      contents:
      - section: "Admin"
        contents:
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=22065
          target: _blank
        - text: Moodle (Prüfungen)
          href: https://exam.hnu.de/course/view.php?id=862
          target: _blank
        - lectures/DE1/25WT/admin/index.qmd
      - section: "Skript"
        contents:          
        - lectures/DE1/25WT/einfuehrung/index.qmd
        - lectures/DE1/25WT/digitalisierung/index.qmd
        - lectures/DE1/25WT/technologie/index.qmd
        - lectures/DE1/25WT/informationssysteme/index.qmd
        - lectures/DE1/25WT/prozesse/index.qmd
        - lectures/DE1/25WT/integration/index.qmd
        - lectures/DE1/25WT/anwendungssysteme/index.qmd
        - lectures/DE1/25WT/scale-up/index.qmd
        - lectures/DE1/25WT/implementierung/index.qmd
        - lectures/DE1/25WT/it-management/index.qmd
        - lectures/DE1/25WT/geschaeftsmodelle/index.qmd
      - section: "Prüfungsleistungen"    
        contents:    
        - lectures/DE1/25WT/praesentation/index.qmd
 
    - id: wpf_emt
      collapse-level: 2    
      title: "Emergent Technologies and Media"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=22361
          target: _blank        
        - lectures/ETM/25WT/admin/index.qmd
      - section: "Lecture notes"
        contents:
          - href: lectures/ETM/25WT/introduction/index.qmd
            target: _blank
          - text: Immersion
            href: lectures/ETM/25WT/immersion/index.qmd
            target: _blank
          - text: Intelligence
            href: lectures/ETM/25WT/intelligence/index.qmd
            target: _blank
          - text: Interconnectedness
            href: lectures/ETM/25WT/interconnectedness/index.qmd
            target: _blank
          - text: Ubiquity
            href: lectures/ETM/25WT/ubiquity/index.qmd
            target: _blank
 
    - id: dem_ftm
      collapse-level: 2
      title: "Future Technologies and Media"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: #
          target: _blank        
        - lectures/FTM/26ST/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - href: lectures/FTM/26ST/introduction/index.qmd
          target: _blank    
        - text: Immersion
          href: lectures/FTM/26ST/immersion/index.qmd
          target: _blank            
        - text: Intelligence
          href: lectures/FTM/26ST/intelligence/index.qmd
          target: _blank         
        - text: Interconnectedness
          href: lectures/FTM/26ST/interconnectedness/index.qmd
          target: _blank     
        - text: Ubiquity
          href: lectures/FTM/26ST/ubiquity/index.qmd
          target: _blank               
      - section: "Exam"
        contents:
        - lectures/FTM/26ST/assignment/index.qmd
 
     # MASTER

    - id: dim_diin
      collapse-level: 2 
      title: "DI in Industry"
      contents:
      - section: "Admin"
        contents:
        - text: Moodle
          href: #
          target: _blank
        - lectures/DIiI/26ST/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/DIiI/26ST/introduction/index.qmd
        - lectures/DIiI/26ST/hybrid-intelligence/index.qmd
        - lectures/DIiI/26ST/agility/index.qmd
        - lectures/DIiI/26ST/digital-twin/index.qmd
        - lectures/DIiI/26ST/platforms/index.qmd
        - lectures/DIiI/26ST/adoption/index.qmd
        - lectures/DIiI/26ST/ar/index.qmd
      - section: "Exam"
        contents:
        - lectures/DIiI/26ST/assignment/index.qmd

    - id: dim_i2ai
      collapse-level: 2    
      title: "Introduction to AI"
      contents:
      - section: "Admin"
        contents:
        - text: Moodle
          href: #
          target: _blank
        - lectures/I2AI/26ST/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/I2AI/26ST/intro/index.qmd
        - lectures/I2AI/26ST/agents/index.qmd
        - lectures/I2AI/26ST/search/index.qmd
        - lectures/I2AI/26ST/knowledge/index.qmd
        - lectures/I2AI/26ST/probability-theory/index.qmd
        - lectures/I2AI/26ST/bayes-net/index.qmd
        - lectures/I2AI/26ST/learning/index.qmd
        - lectures/I2AI/26ST/decision-trees/index.qmd
        - lectures/I2AI/26ST/neural-networks/index.qmd

    - id: sim_tam
      collapse-level: 2    
      title: "Technology and Application Management"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: hhttps://elearning.hnu.de/course/view.php?id=18590
          target: _blank
        - lectures/TAM/22WT/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/TAM/22WT/introduction/index.qmd
        - lectures/TAM/22WT/value/index.qmd        
        - lectures/TAM/22WT/frameworks/index.qmd
        - lectures/TAM/22WT/alignment/index.qmd
        - lectures/TAM/22WT/transparency/index.qmd
        - lectures/TAM/22WT/architecture/index.qmd
        - lectures/TAM/22WT/evaluation/index.qmd
        - lectures/TAM/22WT/agility/index.qmd
      - section: "Exam"
        contents:
        - lectures/TAM/22WT/assignment/index.qmd
        
    - id: misc_aw
      collapse-level: 2    
      title: "Academic Writing"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=22063
          target: _blank
        - lectures/AW/25WT/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/AW/25WT/topic/index.qmd
        - lectures/AW/25WT/strategy/index.qmd
        - lectures/AW/25WT/structure/index.qmd
        - lectures/AW/25WT/review/index.qmd
        - lectures/AW/25WT/defense/index.qmd  
        - lectures/AW/25WT/ethics/index.qmd      
      - section: "Exam"
        contents:
        - lectures/AW/25WT/assignment/index.qmd        

    - id: misc_isr
      collapse-level: 2    
      title: "Information Systems Research"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=22062
          target: _blank
        - lectures/ISR/25WT/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/ISR/25WT/introduction/index.qmd      
        - lectures/ISR/25WT/theory/index.qmd
        - lectures/ISR/25WT/process/index.qmd
        - lectures/ISR/25WT/design/index.qmd  
        - lectures/ISR/25WT/quantitative/index.qmd  
        - lectures/ISR/25WT/qualitative/index.qmd
        - lectures/ISR/25WT/DSR/index.qmd  
      - section: "Exam"
        contents:
        - lectures/ISR/25WT/assignment/index.qmd   

    - id: ma_sm
      collapse-level: 2    
      title: "Strategy & Performance Management"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=22061
          target: _blank
        - lectures/SPM/25WT/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/SPM/25WT/definition/index.qmd
        - lectures/SPM/25WT/competition/index.qmd
        - lectures/SPM/25WT/resources/index.qmd
        - lectures/SPM/25WT/formation/index.qmd
        - lectures/SPM/25WT/organization/index.qmd
        - lectures/SPM/25WT/ethics/index.qmd
        - href: lectures/SPM/25WT/case-1/index.qmd
          target: _blank
        - lectures/SPM/25WT/cpm/index.qmd
        - lectures/SPM/25WT/OKRs/index.qmd
        - lectures/SPM/25WT/case-2/prep.qmd
        - href: lectures/SPM/25WT/case-2/index.qmd
          target: _blank        
        - lectures/SPM/25WT/IT-strategy/index.qmd
    - id: ma_ips
      style: docked
      pinned: false
      collapse-level: 2    
      title: "Interpersonal Skills"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=22064
          target: _blank
        - lectures/IPS/25WT/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/IPS/25WT/productivity/index.qmd
        - lectures/IPS/25WT/feedback/index.qmd
        - lectures/IPS/25WT/change/index.qmd
        - lectures/IPS/25WT/resilience/index.qmd
      - section: "Exam"
        contents:
        - lectures/IPS/25WT/assignment/index.qmd             
        
    - id: sim_bvc
      collapse-level: 2    
      title: "Business Value Creation with IT"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=21592
          target: _blank        
        - lectures/BVC/26ST/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/BVC/26ST/introduction/index.qmd
#        - lectures/BVC/26ST/hybrid-intelligence/index.qmd
#        - lectures/BVC/26ST/agentic-ai/index.qmd
#        - lectures/BVC/26ST/digital-twin/index.qmd
        - text: "Design Thinking"
          href: lectures/BVC/26ST/design-thinking/index.qmd
          target: _blank
        - text: "Pitching"
          href: lectures/BVC/26ST/pitch/index.qmd
          target: _blank
      - section: "Exam"
        contents:
        - lectures/BVC/26ST/assignment/index.qmd
        - lectures/BVC/26ST/assignment/wieland.qmd
#        - lectures/BVC/25ST/assignment/wilken.qmd
        
    - id: sim_dl
      collapse-level: 2    
      title: "Digital Leadership"
      contents:
      - section: "Admin"
        contents:      
        - text: Moodle
          href: https://elearning.hnu.de/course/view.php?id=21591
          target: _blank
        - lectures/DL/25ST/admin/index.qmd
      - section: "Lecture notes"
        contents:
        - lectures/DL/25ST/introduction/index.qmd
        - lectures/DL/25ST/mental-models/index.qmd
        - lectures/DL/25ST/characteristics/index.qmd
        - lectures/DL/25ST/paradoxes/index.qmd
        - lectures/DL/25ST/behavior/index.qmd
        - lectures/DL/25ST/power/index.qmd
        - lectures/DL/25ST/storytelling/index.qmd
      - section: "Exam"
        contents:
        - lectures/DL/25ST/assignment/index.qmd           

bibliography: bibliography/bibliography.bib

format:   
  html:
    minimal: true
    date-format: medium    
    toc: true
    toc-depth: 1
    number-sections: false
    title-block-banner: true
    affiliation-title: "Organisation"    
    code-overflow: wrap
    cap-location: bottom  
    anchor-sections: false
    callout-appearance: simple 
    link-external-newwindow: true
    html-math-method: mathjax
    fig-align: left
    fig-cap-location: bottom
    fig-responsive: true
    format-links: true
    filters:
      - lib/filter/html-pause.lua
      - lib/filter/html-hidden.lua         
    # lightbox: auto
    theme:
      - none
      - lib/theme/awe.scss
    page-layout: full
    include-in-header:
      - text: |
          <meta name="robots" content="noindex">   
    mermaid:
      theme: neutral            
  presentation-revealjs:
    institute: "Neu-Ulm University of Applied Sciences"   
    theme: [default, "lib/theme/awe-slides.scss"]
    slide-level: 3
    transition: fade
    center: false
    controls: false
    lightbox: false
    menu: true
    slide-number: c
    toc-depth: 2
    height: 640
    width: 1080
    margin: 0
    auto-stretch: false    
    cap-location: bottom
    fig-align: left
    fig-format: svg
    fig-responsive: true
    fig-cap-location: bottom
    tbl-cap-location: bottom  
    html-math-method: mathjax
    overview: false
    citations-hover: true
    footnotes-hover: true
    reference-links: true
    reference-location: document    
    center-title-slide: false
    title-slide-attributes: 
      data-background-color: '#0333ff'
    mermaid:
      theme: neutral        
      
  typst:
    mainfont: "Basier Square"    
    fontsize: 10pt
    lineheight: 1.2
    include-in-header: lib/typst_templates/awe-pdf-styles.typ
    bibliographystyle: "apa"
    filters:
      - lib/filter/typst-literature-headline.lua
      - lib/filter/html-pause.lua         
      - lib/filter/html-hidden.lua     

countdown:
  font_size: "2rem"
  border_width: "1px"
  border_radius: "0"
  margin: "30px"

execute:
  jupyter: .venv/bin/python

 # Im Terminal: source .venv/bin/activate