/*-- scss:defaults --*/

@font-face {
    font-family: 'basier_squareregular';
    src: url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.eot');
    src: url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.woff2') format('woff2'),
         url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.woff') format('woff'),
         url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'basier_squaremono';
    src: url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.eot');
    src: url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.woff2') format('woff2'),
         url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.woff') format('woff'),
         url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }