.reveal h1 {
    font-size: calc(var(--r-heading1-size)*2);
}

.blue {
  color: #bbfbff;
}

.slides #title-slide {
    padding-top: 15% !important;
}

.reveal aside {
  bottom: 0px;
  max-width: 80vw;
  
  span.citation {
    color: unset;
  } 
}

.reveal aside li {
  max-width: unset;
}

#apropos-love aside,
#fähigkeiten-generativer-ki aside {
  position: absolute;
  right: 60px;
  bottom: 50px;
  width: 160px;
  opacity: .2;
}

.caption p {
  font-family: basier_squaremono;
  font-size: 9px;
}

.p-no-margin p {
  
  margin-top: -1.5em !important;
  
}

.reveal .xlarge p {
  font-size: 68px;   
} 

.absolute p {
  margin: 5px 0;
}

.absolute p > img {
  margin: 0 !important;
  max-width: unset;
}
