/*-- scss:defaults --*/

@font-face {
     font-family: 'basier_squareregular';
     src: url('lib/fonts/basier_squareregular/basiersquare-regular-webfont.eot');
     src: url('lib/fonts/basier_squareregular/basiersquare-regular-webfont.woff2') format('woff2'),
          url('lib/fonts/basier_squareregular/basiersquare-regular-webfont.woff') format('woff'),
          url('lib/fonts/basier_squareregular/basiersquare-regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'basier_squareregular';
     src: url('lib/fonts/basier_squareregularitalic/basiersquare-regularitalic-webfont.eot');
     src: url('lib/fonts/basier_squareregularitalic/basiersquare-regularitalic-webfont.woff2') format('woff2'),
          url('lib/fonts/basier_squareregularitalic/basiersquare-regularitalic-webfont.woff') format('woff'),
          url('lib/fonts/basier_squareregularitalic/basiersquare-regularitalic-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
}

@font-face {
     font-family: 'basier_squareregular';
     src: url('lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.eot');
     src: url('lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.woff2') format('woff2'),
          url('lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.woff') format('woff'),
          url('lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}  

@font-face {
     font-family: 'basier_squaremono';
     src: url('lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.eot');
     src: url('lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.woff2') format('woff2'),
          url('lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.woff') format('woff'),
          url('lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
     }

@font-face {
     font-family: 'basier_squaremono';
     src: url('lib/fonts/basier_squaremono/basiersquaremono-regularitalic-webfont.eot');
     src: url('lib/fonts/basier_squaremono/basiersquaremono-regularitalic-webfont.woff2') format('woff2'),
          url('lib/fonts/basier_squaremono/basiersquaremono-regularitalic-webfont.woff') format('woff'),
          url('lib/fonts/basier_squaremono/basiersquaremono-regularitalic-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
     }     

/*-- scss:defaults --*/

$theme: "cosmo" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f4f4f4 !default;
$gray-200: #eeeeee !default;
$gray-300: #dfe2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0333ff !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #3fb618 !default;
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color:    $black !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:    'basier_squareregular', sans-serif !default;
$font-family-monospace:     'basier_squaremono', monospace !default;
$headings-font-weight:      bold !default;

$font-size-root:    16px;
$toc-font-size:     1rem;
$h1-font-size:      2rem;
$h2-font-size:      1.5rem;
$h3-font-size:      1.3rem;
$h4-font-size:      1.15rem;
$h5-font-size:      1rem;

$block-margin: .75rem;

// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;



/*-- scss:rules --*/


// Variables

// Typography

body {
  -webkit-font-smoothing: antialiased;
}





// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

.navbar-dark {
     .navbar-brand {
          font-weight: bold;
          color: $body-color;
     }

     a {
          color: $primary;
     }
}

.quarto-sidebar-toggle {
     display: none;
}

.sidebar {

     padding-top: 0 !important;

     &.sidebar-navigation:not(.floating):not(.rollup) {

          border-right: none !important;
     }

     .sidebar-title {
          font-size: inherit;
          font-weight: bold;
     }

     .sidebar-item:hover {
          color: inherit !important;
     }
}

h1.slide-link-hidden {
     display: none;
}

.r-stack {

     img {
       width: 49%;
       display: inline-block;
     }
   
   }

   .html-hidden {
        display: none;
   }


table,
caption,
p    { margin: $block-margin 0; }
h1   { margin: $block-margin*4 0 $block-margin*3 0; }
h1.quarto-secondary-nav-title { margin: $block-margin*4 0; }
h2   { margin: $block-margin*3 0 $block-margin*2 0; }
h3   { margin: $block-margin*2 0 $block-margin*1 0; }
h4   { margin: $block-margin*1.5 0 $block-margin*1 0; }

h1.title {
  font-size: $h1-font-size*1.5;
}

figcaption, caption,
.panel-caption, caption, .figure-caption {
     font-family: $font-family-monospace;
     font-size: 0.8rem;
}

a {
     text-decoration: none;
}

h2 {
     border-bottom: 0;
     padding: 0;
}

strong {
     background-repeat: no-repeat;
     background-position: bottom left;
     background-size: 100% 1px;
     background-image: linear-gradient(#000, #000);
     display: inline;
     font-weight: normal;
}  

.anchorjs-link {
     display: none;
}

#title-block-header {

     h1 {
          margin: 0
     }

     .subtitle {
          font-family: $font-family-monospace;
          font-size: $font-size-root*1.5;
     }

     border-bottom: 1px solid $gray-300;
     padding-bottom: $block-margin*2;
     margin-bottom: $block-margin*2;
}

#quarto-sidebar {
     padding-top: 0;
}

.sidebar-navigation .sidebar-item {
     font-size: 1em;
}



@include media-breakpoint-up(lg) { 

     #quarto-document-content {
          padding-top: 2em;
     }

     #title-block-header {
          min-height: 8em;
     }
}

.sidebar.margin-sidebar {
     margin-top: 10em;
}

main {
  margin: 0;
}

#quarto-sidebar {
     padding: 0 1.5em;
     background-color: $gray-100;
}

@include media-breakpoint-up(md) { 
     #quarto-sidebar {
          padding: 0 2.5em;
     }
}

@include media-breakpoint-up(lg) { 
     #quarto-sidebar {
          margin-top: 10em;
          padding: 0 1em;
          background-color: transparent !important;
     }
}


pre, code, kbd, samp {
     font-family: $font-family-monospace;
     color: $blue;
}


.page-navigation {
     border-top: 1px solid;
}

ul {
  list-style-type: square;
  padding-left: 1em;
}

.callout {
     border-radius: 0;
     
     &.callout-style-simple {
          border-right: none;
          border-top: none;
          border-bottom: none;
          background-color: $gray-100;

          >div.callout-header {
               font-size: 1em;
          }

     }
}


blockquote {
  border-left: 5px solid $gray-300;
  color: $body-color;

  p:first-child {
       margin-top: 0;
       color: $link-color;

       em {
          display: inline-block;
          float: none;
          color: $body-color;
       }
  }
}


#quarto-header {
  border-bottom: none !important;
}


@include media-breakpoint-up(sm) { 

     #quarto-header nav {
          padding-left: 2.5em;
          padding-right: 2.5em;
          background: $gray-100;
     }

}

@include media-breakpoint-down(md) { 

     #quarto-header nav {
          padding-left: 1.5em;
          padding-right: 1.5em;
          background: $gray-100;
     }

     .columns {

          .column {
               width: 100% !important;
               padding:0;
          }     
     }     

} 


#quarto-header nav {
     background: $gray-100;
     border: none;
}

.navbar-brand:hover {
     color: $blue !important;
}

.columns {

     .column {
          padding-right: 1em;
     }
     .column:last-child {
          padding-right: 0;
     }

}

.callout-note,
table {
 margin: $block-margin*4 0;
}

.quarto-figure {
     margin: $block-margin*2 0;
}

figure {  

     >p:first-child {
       margin: 0;
       background-color: $gray-100;
     }

     .figure-img {
          margin-bottom: 0 !important;
     }

}

hr {
     display: none;
}


@media print {

     #quarto-header {
          position:relative;
     }

}


#quarto-appendix.default {
     margin-top: 0;
     padding-top: 0;
     border-top: 0; 
     background: transparent;

     .quarto-appendix-contents:first-child .quarto-appendix-heading {
          display: none;
     }

     .csl-entry {
          margin-bottom: $block-margin;
          margin-left: 0;
          text-indent: 0;
     }

     #refs {
          margin: 0;
     }
}