/*-- scss:defaults --*/

@font-face {
     font-family: 'basier_squareregular';
     src: url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.eot');
     src: url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.woff2') format('woff2'),
          url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.woff') format('woff'),
          url('/lib/fonts/basier_squareregular/basiersquare-regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'basier_squareregular';
     src: url('/lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.eot');
     src: url('/lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.woff2') format('woff2'),
          url('/lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.woff') format('woff'),
          url('/lib/fonts/basier_squaresemibold/basiersquare-semibold-webfont.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}  

@font-face {
     font-family: 'basier_squaremono';
     src: url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.eot');
     src: url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.woff2') format('woff2'),
          url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.woff') format('woff'),
          url('/lib/fonts/basier_squaremono/basiersquaremono-regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
     }

/*-- scss:defaults --*/

$theme: "cosmo" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0333ff !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #3fb618 !default;
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color:    $black !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:    "basier_squareregular", sans-serif !default;
$headings-font-weight:      bold !default;

// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;



/*-- scss:rules --*/


// Variables

// Typography

body {
  -webkit-font-smoothing: antialiased;
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

.navbar-dark {
     .navbar-brand {
          font-weight: bold;
          color: $body-color;
     }

     a {
          color: $primary;
     }
}

.sidebar {

     &.sidebar-navigation:not(.floating):not(.rollup) {

          border-right: none !important;

          a {
          }
     }

     .sidebar-title {
          font-size: inherit;
          font-weight: bold;
     }

}
