.reveal h1 {
    font-size: calc(var(--r-heading1-size)*2);
}

.slides #title-slide {
    padding-top: 15% !important;
}

#aktuelle-fähigkeiten-generativer-ki aside {
  position: absolute;
  right: 60px;
  bottom: 50px;
  width: 160px;
  z-index: -1;
  opacity: .2;
}